.page-header {
  background-color: #456;
  color: #fff;
  padding: 0.5rem 0.5rem;
}
.page-header-inner {
  max-width: 1080px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.page-header p {
  margin: 0;
}
.page-header .brand-title {
  font-weight: bold;
}
.header-menu a {
  color: #fff;
  text-decoration: none;
}
