.header {
  background-color: #456;
  color: #fff;
  position: fixed;
  width: 100%;
  z-index: 100;
}
.headerInner {
  padding: 0 0.5rem;
  max-width: 1080px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.headerInner, .behindHeader {
  height: 2rem;
}
.header a, .header a:hover, .header a:active, .header a:focus {
  color: inherit;
  text-decoration: none;
}
.header p {
  margin: 0;
}
.brandTitle {
  font-weight: bold;
}
.backLink {
  font-size: 1.5rem;
}
.backLink a, .backLink a:visited {
  color: #fff;
}
.backLink a:hover, .backLink a:focus, .backLink a:active {
  color: #aff;
  transition: color 0.25s;
}
.backLink svg {
  display: block;
}
@media (max-width: 720px) {
  .headerInner {
    font-size: 1.1rem;
  }
  .headerInner, .behindHeader {
    height: 2.5rem;
  }
  .backLink {
    font-size: 2rem;
  }
}
