.header {
  background-color: #456;
  color: #fff;
  padding: 0.5rem 0.5rem;
}
.headerInner {
  max-width: 1080px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.header a, .header a:hover, .header a:active, .header a:focus {
  color: inherit;
  text-decoration: none;
}
.header p {
  margin: 0;
}
.brandTitle {
  font-weight: bold;
}
