.repoListItem {
  margin: 5px 0;
  border: 1px solid #ddd;
  border-radius: 5px;
}
.header {
  background-color: #dde4e4;
  padding: 2px 5px;
  color: #444;
  display: flex;
  justify-content: space-between;
}
.title {
  margin: 0;
  font-size: 1rem;
}
.itemBody {
  padding: 6px 5px;
}
.description {
  margin: 0;
  font-size: 0.9rem;
}
.stats {
  display: flex;
}
.stats > *:not(:last-child) {
  margin-right: 0.3rem;
}
