.repoListItem {
  margin: 5px 0;
  border: 1px solid #ddd;
  border-radius: 5px;
}
.title {
  margin: 0;
  font-size: 1rem;
  background-color: #dde4e4;
  padding: 2px 5px;
  color: #444;
}
.itemBody {
  padding: 6px 5px;
}
.description {
  margin: 0;
  font-size: 0.9rem;
}
