.wrapper {
  margin: 1.5rem 24px;
  display: flex;
}
.leftSection {
  display: flex;
  flex-direction: column;
  border-right: 1px solid #eee;
  padding-top: 16px;
  padding-right: 24px;
  flex: 1;
}
.rightSection {
  padding-left: 24px;
  flex: 3;
}
.wrapper h2 {
  margin: 1.1rem 0 0.7rem;
}
.wrapper p {
  margin: 0;
}
.avatar {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 50%;
  margin-bottom: 0.5rem;
  align-self: center;
}
.title {
  margin: 0;
}
.title::after {
  margin: 6px auto 0;
  content: "";
  display: block;
  height: 2px;
  max-width: 320px;
  background-color: #bbb;
  border-radius: 50%;
}
.name {
  display: block;
  font-size: 1.5rem;
  text-align: center;
}
.username {
  display: block;
  font-size: 1.2rem;
  text-align: center;
}
.profileBody {
  margin-top: 0.5rem;
}
.followStats {
  display: flex;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
}
.followStats>*:not(:last-child) {
  margin-right: 0.3rem;
}
.small {
  font-size: 0.7em;
  color: #555;
}
@media (max-width: 720px) {
  .wrapper {
    display: block;
  }
  .leftSection, .rightSection {
    padding-left: 0;
    padding-right: 0;
    border: none;
  }
}
