.searchBarWrapper {
  padding: 12px 18px 0;
}
.searchBar {
  display: block;
  width: 100%;
  padding: 4px 8px;
  border: 1px solid #ddd;
  border-radius: 3px;
  font-size: 1.2rem;
}
@media (max-width: 720px) {
  .searchBarWrapper {
    padding: 0;
  }
  .searchBar {
    font-size: 1.5rem;
  }
}
